/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
   color: #000 !important;
}

html,
body {
   font-size: 12px !important;
   letter-spacing: -0.3px;
   font-family: "Work Sans", "san-serif" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   font-family: "Work Sans", "san-serif" !important;
   font-weight: 300;
}
